@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant R8r</h1>
    <p class="lead">Gr8 Restaurant M8 I r8 it 8/8</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>R8 Resaurants</h2>
        <p>
            lorem ipsum
        </p>
    </div>
</div>